* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

.authButton {
    &:hover {
        background-color: #9e9e9e;
    }
}

.authBackButton {
    margin-right: 1rem;
    
    &:hover {
        background-color: transparent;
    }
}

.button.hover {
    &:hover {
        background-color: transparent;
    }
}

.authNextButton {
    margin-left: 1rem;
}

.selectAccountButton {
    display: flex;
    flex-direction: column;
    align-items: start;
}
